h1{
    color: green;
    font-family: fantasy;
}

h2{
    color: greenyellow;

}

#menu-bar{
    width: 40;
    height: 20px;
    padding-top: 12px;
}

#menu-bar{
    color: greenyellow;
    font-family: helvetica,sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;

    padding-left: 10px;
    padding:10px
}
#menu-bar a:hover{
    color: indianred;
}


table{
    font-family: helvetica,sans-serif;
    border-collapse: separate;
    border-width: 1px;
    border-style: solid;
    border-color: indianred;

}
p{
    color: indianred;
    font-size: 20px;
    font-weight: 400;
}